
<div class="row">
  <div class="twelve columns" style="width: 653px;">
    <h2><i class="ss-icon" style="font-size: 26px;">connection</i> Add New Member</h2>
    <p></p>
    <hr />
  </div>
</div>

<%= form_for @user, :url => member_path(@user) do |f| %>
  <%= render "form", :f => f %>
<% end %>
