<header id="postedbar">
 <time style="color:<%=@post.user.color%>"> Posted on</time>
 <br />
<time id="top_time" datetime="2012-09-06"><%=@post.created_at.strftime("%B %d, %Y")%></time>
 <div id="backhome">
  <a href="/">Homepage</a>
 </div>
</header>

<%= render :partial => "posts/fe/post_detail", :locals => {:post => @post} %>

<footer id="paginate">
</footer>

