<%= render "layouts/shared/form_error_e", :obj => resource %>


<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>

<div id="main-content" class="container clearfix" >

<div class="row">
	                <div class="twelve columns">
	                <h5>Doh! Let's setup a new one.</h5>
	                <fieldset class="textbox">
	                	  <%= f.text_field :email, :autocomplete=>"on", :placeholder=>"Your Email" %></div>
                      <%= f.submit "RESET", :class => "submit button", :style=>"margin-top: 10px;"%>
	                	</fieldset>
	                </div>			
	</div>
</div>
<% end %>
