<%=link_to posts_path,:class=>'button logout' do %>
    <i class="icon-list-ul" style="font-size: 20px; color: black; margin-left: 0px;"></i>
<%end%>

<%= link_to edit_member_path(current_user),:class=>'button logout' do %>
  <i class="icon-wrench" style="font-size: 20px; color: black; margin-left: 0px;"></i>
<%end%>
<%= link_to '/sign_out',  method: :delete, :class => "button logout" do  %>
  <i class="icon-signout" style="font-size: 20px; color: black; margin-left: 0px;"></i>
<%end%>

<div id="welcome-back">
    Welcome Back •
</div>
<div id="member-name">
     <%=link_to_if  current_user.external_link, current_user.username, current_user.external_link %></a>
</div>
</div>
<!--<div id="part-of">
    <a href="http://simvla.com">Simvla</a>
</div>

<div id="how-to">
    <h2>
        <a href="" class="button how-to osx demo"><i class="icon-beaker" style="font-size: 15px;color: white;margin-right: 6px;"></i>Get Started</a>
    </h2>
</div>
-->
